[Unit]
After=network.target
Description=Cozmars Sanic server

[Service]
User=root
WorkingDirectory=/home/pi
ExecStart=/usr/bin/env python3 -m rcute_cozmars_server
Restart=always
StartLimitInterval=10

[Install]
WantedBy=multi-user.target
