<html><head><title>Cozmars</title></head><body><h1>关于</h1>
<table><tr><td>序列号</td><td>{serial}</td></tr>
<tr><td>IP</td><td>{ip}</td></tr>
<tr><td>MAC</td><td>{mac}</td></tr>
<tr><td>固件版本</td><td>{version}</td></tr>
<tr><td style='vertical-align:top'><a href='https://pypi.org/project/rcute-cozmars-server/' target='blank'>最新版本</a></td><td><form action='upgrade'><input type='submit' value="更新"></form></td></tr></table><script>
</script></body></html>