<html><head><title>Cozmars</title></head><body>
<p>Cozmars 是由 R-cute 设计的可编程教育机器人，支持 Scratch 和 Python 编程</p>
<ul><li><a href='https://rcute-cozmars.readthedocs.io' target='blank'>Python SDK 文档</a></li>
<li><a href=''>Scratch3 使用说明</a></li>
<li><a href=''>视频</a></li>
<h2>设置</h2>
<ul><li><a href='wifi'>wifi设置</a></li><li><a href='servo'>舵机调试</a></li></ul>
<h2>关于</h2>
<table><tr><td>序列号</td><td>{serial}</td></tr>
<tr><td>IP</td><td>{ip}</td></tr>
<tr><td>MAC</td><td>{mac}</td></tr>
<tr><td>当前固件版本</td><td>{version}</td></tr>
<tr><td style='vertical-align:top'><a href='https://pypi.org/project/rcute-cozmars-server/' target='blank'>查看是否有新版本</a></td><td><form action='upgrade'><input type='submit' value="更新"></form></td></tr></table><script>
</script></body></html>